{% extends 'base.html' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block content %}
<h1>Liste des utilisateurs</h1>
<table border="1">
    <thead>
        <tr>
            <th>CIN</th>
            <th>Nom</th>
            <th>Prénoms</th>
            <th>Email</th>
            <th>Fonction</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        {% if user['email'] != session['user']['email'] %}
        <tr>
            <td>{{ user['cin'] }}</td>
            <td>{{ user['nom'] }}</td>
            <td>{{ user['prenoms'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['fonction'] }}</td>
            <td>
                <a href="{{ url_for('main.chat', user_email=user['email']) }}">Discuter</a>
                <a href="{{ url_for('message.get_stored_key', receiver_email=user['email']) }}" style="margin-left: 10px;">Voir la clé</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<br><br>

<a href="{{ url_for('main.index') }}">Retour au tableau de bord</a>
{% endblock %}
